<div class="container" style='top: 170px; position: relative;'>
    <div class='row well-large'>

        <form role="form" id="post-form" action="/" method="post" class="col-md-8">
          <div class="form-group">
            <label for="exampleInputEmail1">Status: </label>
            <div class="fbpost">
            	<textarea name="message" class="form-control" id="message" required placeholder="What's on your mind..." style ="width: 300px" style ="height: 100px"></textarea>
            </div>
            <input type="hidden" name="access_token" value="">
            <input type="hidden" name="fbID" value="">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker'>
                    <input type='text' class="form-control" name="date_to_post" placeholder="Date to post"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" required></span>
                    </span>
                </div>
            </div>
          </div>
          <div class="button">
            <button id="button" type="submit" class="btn btn-default btn-facebook"><span class="glyphicon glyphicon-edit" required></span>Schedules</button>
            <div id="post-now" type="submit" class="btn btn-default btn-facebook"><span class="glyphicon glyphicon-check" required></span> Post it now!  </div>
          </div>
        </form>
        <div class="fb-like" data-href="https://developers.facebook.com/apps/1483569928569827/dashboard/" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="muted credit">Project made by <a href="https://www.facebook.com/JTSownsme">John Patrick Mostoles</a> and <a href="https://www.facebook.com/nhickz013">Melvin Al James Medel</a>.</p>
      </div>
    </div>
</div>
</body>
</html>